<div class="row">
  <div class="col-md-6">
    <h3>Friday, October 25</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>"https://shiny.rstudio.com/tutorial/written-tutorial/lesson1/">Welcome to Shiny</a></td> </tr>
      <tr> <td>09:15</td>  <td>"https://shiny.rstudio.com/tutorial/written-tutorial/lesson2/">Build a user interface</a></td> </tr>
      <tr> <td>09:45</td>  <td>"https://shiny.rstudio.com/tutorial/written-tutorial/lesson3/">Add control widgets</a></td> </tr>
      <tr> <td>10:15</td>  <td>"https://shiny.rstudio.com/tutorial/written-tutorial/lesson4/">Display reactive output</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
     <tr> <td>10:45</td>  <td>"https://shiny.rstudio.com/tutorial/written-tutorial/lesson5/">Use R scripts and data</a></td> </tr>
      <tr> <td>11:15</td>  <td>"https://shiny.rstudio.com/tutorial/written-tutorial/lesson6/">Use reactive expressions</a></td> </tr>
      <tr> <td>11:45</td>  <td>"https://shiny.rstudio.com/tutorial/written-tutorial/lesson7/">Share your apps</a></td> </tr>      
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
